$grey6: #1e1e1e; // Code background / Active Tab
$grey5: #252525; // Tabs background
$grey4: #2d2d2d; // Inactive Tab
$grey3: #3c3c3c; // Header & Sidenav
$grey2: #5b5b5b; // Breadcrumb title
$grey1: #adadad; // Breadcrumbs
$white: #d4d4d4; // Sidebar Titles / Text / Carets
$yellow: #caca41;
$gold: #a8906e;
$green1: #61a378;
$green2: #20c20e;
$green3: #178f0a;
$green4: #0f5c06;
$green5: #61a378;

$transparentGreen: rgba(32, 194, 14, 0.15);
$transparentGreen2: rgba(32, 194, 14, 0.05);

$commentText: #536349 + 45;
$returnText: #785677 + 45; // used for import, export, default, return
$componentText: #648B94 + 45;
$codeText: #11455B + 55;
$sourceText: #816965 + 45;
$unusedText: #2F455B + 45;
$tagText: lightgrey - 95;